#siteLogotype {
	 cursor:hand; background-position:center center; background-repeat:no-repeat; display:block; width:377px; height:125px; position:relative; float:left;
}

.buttonSend {
	 color:#000000; font-weight:bold; font-family:verdana; background-color:#f9a742; border:0; margin-top:10; width:auto; height:20;
}

#blockLogotype {
	 display:block; width:377px; height:125px; position:relative; float:left; text-align:right; vertical-align:middle;
}

#blocgotype {
	 background-image:url(fone.gif); margin-left:50px; display:block; width:346px; height:28px; position:relative; vertical-align:top;
}

#blocotype {
	 display:block; width:184; height:150; position:relative;
}

#boxSearh {
	 background-position:top left; background-repeat:repeat-y; margin:0; margin-top:0px; margin-bottom:0px; display:block; width:340px; position:relative; float:left;
}

#searchForm {
	 margin-top:0px; display:block; width:340px; height:30px;
}

#searchForm #title {
	 background-image:url(dril_07.gif); background-position:top left; background-repeat:no-repeat; margin-top:10px; margin-left:10px; margin-right:10px; display:block; width:28px; height:25px; position:relative; float:left;
}

#searchForm #search {
	 margin-top:10px; margin-right:10px; width:230px;
}

#searchform .buttonSend {
	 color:#0d4861; background-color:#b0bec4; padding-left:3px; padding-right:3px; font-weight:bold; font-family:arial; margin-top:10; width:auto; height:20;
}

#TContent {
	 display:block; width:100%; position:relative;
}

.LContent {
	 background-image:url(dril_02.gif); background-position:top left; background-repeat:repeat-x; height:125px;
}

.RtContent {
	 background-image:url(dril_02.gif); background-position:top left; background-repeat:repeat-x;
}

#siteTitle {
	 color:#4d5a64; font-size:22px; font-weight:normal; font-family:Times New Roman; text-transform:uppercase; margin:0; margin-left:50px; display:block;
}

#siteSubtitle {
	 margin:0; display:block;
}

.LcContent {
	 margin:0; width:377px; position:relative; float:left; vertical-align:top;
}

#pageMenu .menu {
	 font-size:12px; font-weight:bold; text-decoration:none; background-image:url(dril_05.gif); background-position:top left; background-repeat:repeat-y; padding-top:4px; padding-bottom:4px; padding-left:10px; border-bottom:1 dotted #bfc4c1; margin-bottom:2px; display:block;
}

#pageMenu {
	 margin:0; margin-left:10px; margin-right:0px; display:block; width:330px;
}

#pageMenu .TextItemMenu {
	 color:#293863; font-family:arial; text-decoration:none; cursor:hand; width:310px;
}

#pageMenu .TextActiveMenu {
	 color:#293863; font-family:arial; text-decoration:none; width:310px;
}

#pageTitle {
	 color:#31535b; font-size:24px; font-weight:normal; font-family:verdana; text-transform:uppercase; margin-top:10px;
}

#pageMainmenu {
	 margin-bottom:5px; height:20px;
}

.RcContent {
	 vertical-align:top;
}

#pageMainmenu .menu {
	 color:#4d5a64; font-weight:normal; font-family:arial; text-decoration:none; margin:0; margin-top:4px; margin-right:5px; display:block;
}

#pageTechnology {
	 display:block; width:80%; position:relative; float:left;
}

#textTechnology {
	 color:#4d5a64; font-size:10px; font-weight:normal; font-family:verdana; display:block; text-align:right;
}

#pageImgTechnology {
	 display:block; width:33px; height:62px; position:relative; float:left;
}

#imageTechnology {
	 background-image:url(webcentr.gif); background-position:top left; background-repeat:no-repeat; display:block; width:33px; height:62px; position:relative; float:left;
}

#pageCounter {
	 padding-left:20px;
}

#Allpage {
	 height:100%;
}

#content #cont_ank .contentTitle {
	 color:#ffffff; font-weight:bold; font-family:arial; background-color:#678598; padding-top:5px; padding-bottom:5px; padding-left:10px; margin:0; margin-top:0px; margin-bottom:10px; display:block; width:100%;
}

p {
	 padding-top:0px; padding-bottom:0px; margin:0; margin-top:0px; margin-bottom:5px; display:block;
}

#cont_ank #objects .objTitls {
	 ont-weight:bold; padding-top:5px; text-align:center;
}

#cont_ank #objects .objTitl {
	 padding-left:5px; width:30%;
}

#cont_ank #general .objTitl {
	 width:30%;
}

#content #cont_ank #objects .objTitl {
	 color:#31535b; font-weight:normal; font-family:arial; padding-left:0px; display:block; width:200px;
}

#content #cont_ank #general .objTitl {
	 color:#3f5772; font-family:arial; display:block; width:200px;
}

#content #cont_ank #objects .objArea {
	 padding-right:0px;
}

#content #cont_ank .tableTable#general {
	 display:block; width:500px;
}

#content #cont_ank #general .objArea {
	 display:block; width:300px;
}

#content #cont_ank #general #inputText {
	 display:block; width:300px;
}

#content #cont_ank .tableTable#objects {
	 display:block; width:500px;
}

#content #cont_ank #objects #inputText {
	 display:block; width:300px;
}

#tableHeader {
	 color:#4B647A; font-weight:bold; font-family:Arial; background-color:#E8E8E8; height:20px;
}

.tableRow td {
	 font-weight:normal; font-family:Arial;
}

#tableRowOdd {
	 background-color:#FFFFFF;
}

#tableRowEven {
	 background-color:#e6ebf0;
}

#pageMainmenuText {
	 cursor:hand; display:block; width:100%; position:relative; float:left;
}

#topMainMenu {
	 display:block; height:60px;
}

#pageMenuText {
	 cursor:hand; margin:0; display:block;
}

#content #cont_txt .objectNote {
	 display:block; width:100%; text-align:justify;
}

#content #cont_faq .objectNote {
	 padding-left:20px; margin-bottom:0px; display:block; width:90%; text-align:justify;
}

#content #cont_faq #linkTitle {
	 padding-left:10px; border-left:1 solid #000080; margin-bottom:5px; display:block;
}

#content #cont_faq .contentTitle {
	 color:#4d5a64; font-weight:bold; font-family:arial; margin-bottom:0px; display:block; width:90%;
}

#content #cont_faq .objectTitle {
	 color:#4d5a64; font-family:arial; margin-top:10px; margin-bottom:0px; display:block;
}

#content #cont_faq .object {
}

#content #cont_txt .objectTitle {
	 color:#43599a; font-size:17px; font-weight:bold; font-family:arial; padding-left:10px; border-left:3 solid #ff8000; margin-top:10px; margin-bottom:10px; display:block;
}

#content #cont_txt .object {
	 border-bottom:1px dotted #808080; margin-left:10px; margin-right:10px; display:block;
}

#rContetnt {
}

.lconten {
	 height:125px;
}

.LcConent {
	 padding-left:0px; padding-right:0px; width:300px; height:50px;
}

#Cerg2 {
	 display:block;
}

#A4lge {
	 width:100%;
}

.Cerg72 {
	 display:block;
}

.LcCoent {
	 width:300px;
}

.lcont {
	 vertical-align:top;
}

.LcContent1 {
	 height:30px;
}

#Cearg1 {
	 vertical-align:top;
}

.TopDrill {
	 color:6f6051; font-weight:bold; font-family:arial; background-color:d8d5d0; margin-top:0px; margin-bottom:0px; display:block; height:60px; position:relative; vertical-align:top;
}

#NameDrill {
	 color:6f6051; font-weight:bold; font-family:arial; background-color:d8d5d0; margin-top:0px; margin-bottom:0px; display:block; height:60px; position:relative;
}

.NameTop {
	 color:6f6051; font-weight:bold; font-family:arial; text-decoration:none; background-color:d8d5d0; padding-top:20px; margin-top:0px; margin-bottom:0px; display:block; width:53px; height:60px; text-align:center; vertical-align:top;
}

#pagecontent {
	 display:block; width:100%; position:relative; float:left;
}

#content #cont_txt {
	 font-family:arial; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px;
}

#content #cont_txt .contentImage {
	 display:block; position:relative; float:right;
}

#content #con_photo .contentTitle {
	 color:#ffffff; font-weight:bold; font-family:arial; background-color:#678598; padding-top:5px; padding-bottom:5px; padding-left:10px; margin:0; margin-top:0px; display:block;
}

#content #show_photo {
	 display:block; width:500px; position:relative; float:left;
}

#content #cont_txt #linkNext {
	 padding-left:20px; display:block;
}

#content #cont_ank {
	 color:#3f5772; font-family:arial; padding-bottom:20px; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px; margin-left:0px; display:block; width:100%;
}

#content #cont_ank #anketa {
	 padding-right:10px; display:block; width:98%; position:relative; float:right;
}

.LnContent {
}

#Drill100m {
	 background-color:#ffffff; background-image:url(100m.gif); background-position:top right; background-repeat:repeat-y; border-bottom:1 solid efecea; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; display:block; width:477px;
}

#Drill300m {
	 background-color:#ffffff; background-image:url(300m.gif); background-position:top right; background-repeat:repeat-y; border-bottom:1 solid efecea; margin-top:0px; margin-bottom:0px; margin-left:0px; margin-right:0px; display:block; width:477px;
}

#Img {
	 border-bottom:1 solid efecea; border-left:1 solid efecea; border-right:1 solid efecea; display:block; text-align:center;
}

#Name {
	 color:#373d6f; font-size:21px; font-weight:bold; font-family:arial; padding-top:0px; margin-top:15px; display:block; width:450px; position:relative; float:right;
}

#content #cont_txt .contentText {
	 padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; margin:0; margin-top:0px; display:block; text-align:justify;
}

#content #cont_news {
	 font-family:Arial; padding-bottom:20px; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px; margin-left:20px; display:block; width:90%;
}

#content #cont_news .contentTitle {
	 color:#FFFFFF; font-weight:bold; font-family:Arial; background-color:#678598; padding-top:5px; padding-bottom:5px; padding-left:10px; margin:0; margin-top:0px; margin-bottom:10px; display:block; width:100%;
}

#content #cont_news .object {
	 padding-left:10px; padding-right:10px; display:block; width:100%;
}

#content #cont_news .objectTitle {
	 color:#43599a; font-family:arial; padding-left:10px; border-left:3 solid #ff8000; margin-top:10px; margin-bottom:10px; display:block; width:100%; position:relative; float:left;
}

#content #cont_news .objectNote {
	 padding-left:20px; padding-right:10px; display:block; text-align:justify;
}

#content #cont_news .newslink {
	 padding-left:20px; display:block;
}

#content #cont_news #view .objectText {
	 padding-left:20px; padding-right:10px; text-align:justify;
}

#content #cont_news #view {
	 padding-left:10px; padding-right:10px; display:block;
}

#content #cont_news .contentText {
	 padding-left:10px; padding-right:10px;
}

#content #cont_news .dataType_date {
	 color:#FF0000; font-size:10px; font-weight:normal; font-family:Arial; display:block;
}

#content #view {
	 font-family:arial; padding-bottom:20px; padding-left:10px; padding-right:10px; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px; margin-left:20px; display:block; width:90%; text-align:justify;
}

A:visited {
	 font-weight:normal;
}

A:link {
	 font-weight:normal;
}

A:hover {
	 color:#ff0000; font-weight:normal;
}

#enteringText {
	 color:#3f5772; font-size:10px; font-weight:normal; font-family:arial; margin-top:5px; display:block; width:100%; position:relative; float:left;
}

#content #con_mapsite .mapline {
	 font-size:10px; font-family:Arial; margin:0; display:block;
}

#reklamForm {
	 margin-left:20px; display:block; text-align:center; vertical-align:top;
}

#content1 #cont_txt {
	 font-family:arial; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px; margin-left:20px; display:block; width:90%;
}

#content1 #cont_txt .contentTitle {
	 color:#ffffff; font-weight:bold; font-family:arial; background-color:#678598; padding-top:5px; padding-bottom:5px; padding-left:10px; margin:0; margin-bottom:10px; display:block; text-align:left;
}

#cont_txt .contentText {
	 position:relative; float:none;
}

#content1 #cont_txt .contentText {
	 margin-left:5px; margin-right:5px; display:block;
}

#content1 {
	 font-size:11px; display:block; text-align:justify;
}

#div195 {
	 color:#4d5a64; font-size:22px; font-weight:normal; font-family:times new roman; text-transform:uppercase; margin:0; display:block;
}

#div206 {
	 color:#4d5a64; font-weight:normal; font-family:times new roman; text-transform:uppercase; margin:0; display:block;
}

#div281 {
	 color:#2d3944; font-size:10px; margin-top:0px; text-align:justify;
}

td {
	 font-size:14px; font-family:arial;
}

#pageMainmenu .mtditem {
	 font-size:11px; text-transform:uppercase;
}

#pageMainmenu .TextItemMenu {
	 margin:0; display:block;
}

#pageMainmenu .mids {
	 color:#4d5a64; padding-right:5px; margin-right:5px;
}

#pageMainmenu .mbordl {
	 display:none;
}

#pageMainmenu .mbordr {
	 display:none;
}

#pageMainmenu .ImgMenu {
	 display:none;
}

#pageMainmenu .tableMenu {
	 margin-top:15px; display:block;
}

a {
	 font-weight:normal;
}

#content1 .contentTitle {
	 font-size:12px; font-weight:bold;
}

#div327 {
	 color:#2d3944; font-size:10px; font-weight:bold; text-decoration:none; text-transform:uppercase; margin-bottom:5px; display:block; width:100%; position:relative; float:left;
}

#div327 A {
	 color:#2d3944; font-size:10px; text-transform:uppercase; font-weight:bold; text-decoration:none;
}

#content #cont_guest {
	 font-family:arial; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px; margin-right:20px; display:block; width:100%;
}

#content #cont_guest .contentTitle {
	 color:#ffffff; font-weight:bold; font-family:arial; background-color:#678598; padding-top:5px; padding-bottom:5px; padding-left:10px; margin:0; margin-top:0px; margin-bottom:10px; display:block;
}

#content #cont_guest .contentText {
	 margin-left:10px; margin-right:10px; display:block; text-align:justify;
}

#content #cont_guest #guest {
	 margin-left:10px; margin-right:10px; display:block;
}

#content #guest .object {
	 display:block;
}

#content #guest .objectTitle {
	 color:#43599a; font-family:arial; padding-left:10px; border-left:3 solid #ff8000; margin-top:10px; margin-bottom:10px; display:block;
}

#content #guest .dataType_date {
	 font-size:12px; margin-left:10px;
}

#content #guest .edguest {
	 margin-left:0px;
}

#content #guest .objectNote {
	 margin-left:15px; text-align:justify;
}

#content #guest .objectText {
	 font-size:12px; font-style:italic; background-color:#f2f2f2; padding-top:10px; padding-bottom:10px; padding-left:10px; padding-right:10px; margin-left:15px; text-align:justify;
}

#con_photo {
	 display:block; width:100%;
}

#content #con_photo {
	 font-family:arial; border-width:1px; border-color:#808080; border-style:solid; margin-top:10px; margin-bottom:10px; margin-right:20px;
}

#content #con_photo .photo#photoBrief {
	 display:block; float:left;
}

#content {
	 display:block; width:100%; position:relative;
}

.content {
	 display:block; width:100%; position:relative; float:left;
}

#content #cont_txt .contentTitle {
	 color:#ffffff; font-weight:bold; font-family:arial; background-color:#678598; padding-top:5px; padding-bottom:5px; padding-left:10px; margin:0; margin-top:0px; margin-bottom:0px; display:block;
}

#content #con_photo .contentText {
	 padding-top:10px; padding-left:10px; padding-right:10px;
}

#content #con_photo .photo#photoBriefImg {
	 margin:10;
}

#skb {
	 color:#FFFFFF; font-size:14px; font-weight:bold; background-color:#FF8000;
}

#cont_guest #blockIp {
	 margin-bottom:10px; display:block;
}

#cont_guest .tableRow#tableHeader td {
	 color:#ffffff; font-weight:bold; background-color:#808080; padding-top:3px; padding-bottom:2px;
}

#cont_guest .tableRow#tableRowEven td {
	 font-weight:bold; background-color:#f4f4f4; padding-top:3px; padding-left:5px; padding-right:2px; border-bottom:1 solid #c0c0c0;
}

#guest .edguest {
	 color:#000000; font-size:12px; font-weight:normal; background-color:#DCEDF8; margin-right:5px; width:20px; overflow:hidden; text-align:center;
}

#guest .objectText {
	 color:#000000; font-size:13px; font-family:arial; background-color:#fefef3; padding-top:5px; padding-bottom:5px; padding-left:5px; padding-right:5px; border-width:1px; border-color:#E0E0C2; border-style:solid; margin-top:10px;
}

.form_guest td.title {
	 width:120px;
}

.form_guest #field_note {
	 width:100%;
}

#cont_guest .form_guest_edit {
	 width:400px;
}

#cont_guest .form_guest_edit td.title {
	 font-size:12px; font-weight:bold; font-family:Arial; width:120px;
}

#cont_guest .form_guest_edit #field_date {
	 border-width:1px; border-color:#808080; border-style:solid; width:100px;
}

#cont_guest .form_guest_edit #field_name {
	 border-width:1px; border-color:#808080; border-style:solid; width:100%;
}

#cont_guest .form_guest_edit #field_email {
	 border-width:1px; border-color:#808080; width:100%;
}

#cont_guest .form_guest_edit td.ftitle {
	 font-size:12px; font-weight:bold; font-family:Arial;
}

#cont_guest .form_guest_edit #field_note {
	 border-width:1px; border-color:#808080; border-style:solid; width:100%;
}

#cont_guest #sendbut {
	 padding-top:2px; height:25px; text-align:center;
}

#cont_guest #sendbut .buttonSend {
	 color:#400040; font-size:12px; font-weight:bold; text-decoration:none; background-color:#f4f4f4; padding-top:3px; padding-bottom:3px; padding-left:10px; padding-right:10px; border-width:1px; border-color:#808080; border-style:solid; position:static;
}

#cont_news .contentImage {
	 margin-right:10px; float:left;
}

#cont_news .contentText {
	 display:block;
}

#cont_news .object {
	 margin:0; clear:both;
}

#cont_news .objectTitle {
	 margin-top:10px;
}

#cont_news #dataType_date {
	 color:#808080; margin-right:10px;
}

#cont_news .objectImage {
	 margin-right:10px; float:left;
}

#cont_news .buttonSend {
	 margin-top:10px;
}

.contentText {
}

#addreklama {
	 color:#ffffff; font-weight:bold; text-decoration:none; background-image:url(zakaz.jpg); background-position:bottom left; background-repeat:repeat-x; padding-top:5px; margin-top:10px; display:block; height:40px; text-align:center;
}

BODY {
	 font-size:14px;
}

li {
	 text-align:left;
}

